@using Rampage.Services
@using System.Security.Claims
@using System.IO
@inject LayoutService _service;

@{
    var categories = await _service.GetCategories();
    var basketItems = await _service.GetBasket();
    var settings = await _service.GetSettings();
    decimal totalPrice = 0;

    string currentController = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var path = "~/assets/css/" + currentController + ".css";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn Strt -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font awesome cdn end -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Demo styles -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/about.css">
    <link rel="stylesheet" href="~/assets/css/basketsepet.css">
    <link rel="stylesheet" href="~/assets/css/basketteslimat.css">
    <link rel="stylesheet" href="~/assets/css/blog.css">
    @* <link rel="stylesheet" href="~/assets/css/aboutpage.css">   *@
    <link rel="stylesheet" href="~/assets/css/contact.css">
    <link rel="stylesheet" href="~/assets/css/login.css">
    <link rel="stylesheet" href="~/assets/css/register.css">
    <link rel="stylesheet" href="~/assets/css/shop.css">
    <link rel="stylesheet" href="~/assets/css/shopdetail.css">
    <link rel="stylesheet" href="~/assets/css/userpage.css">

    @* <link asp-asp-append-version="true" accesskeyrel="stylesheet" href="@path"> *@
    @* <link rel="stylesheet" href="~/assets/css/shop.css"> *@


    <title>Rampage</title>
</head>

<body>

    <!-- Header Sections Start -->
    <header class="header">
        <nav>
            <div class="menu">
                <i id="shop-menu" class="fa-solid fa-bars"></i>
            </div>
            <a asp-action="Index" asp-controller="Home" class="logo">
                <img src="~/assets/image/rampage-logo (1).svg" alt="Rampage Logo">
            </a>
            <ul>
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                                <li style="cursor: pointer;">
                                    <a asp-action="UserInfo" asp-controller="Account">
                                        <i class="fa-solid fa-user"></i>
                                    </a>
                                </li>
                    }
                    else
                    {
                                <li style="cursor: pointer;">
                                    <a asp-action="Login" asp-controller="Account">
                                        <i class="fa-solid fa-user"></i>
                                        <span>Giris yap</span>
                                    </a>
                                </li>

                    }
                }
                <li>
                    <i class="fa-solid fa-truck"></i>
                </li>
                <li class="basket_click">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span class="quantity">@basketItems.Count</span>
                </li>
                <li>
                    <i class="fa-solid fa-magnifying-glass search-open-icon"></i>
                </li>
            </ul>
            <div class="basket-container">

                <div class="basket-content" id="cart_list">
                    <p class="">
                        Sepet
                        <svg id="" class="close-btn close_btn_click  snipcss0-2-2-3" xmlns="http://www.w3.org/2000/svg"
                             width="22.707" height="22.712" viewBox="0 0 22.707 22.712">
                            <g transform="translate(-40.647 -836.142)" class="snipcss0-3-3-4">
                                <line x1="21.5" y2="20.981" transform="translate(41.5 836.5)">
                                </line>
                                <line x2="22" y2="21.981" transform="translate(41 836.519)">
                                </line>
                            </g>
                        </svg>
                    </p>
                    <div class="b-product-list ">
                        @foreach (var bItem in basketItems)
                        {
                            totalPrice += (bItem.Product.Price * bItem.Count);
                            <div class="product-item snipcss0-2-5-6">
                                <a asp-action="RemoveBasketItem" asp-controller="Shop" asp-route-id="@bItem.Id" data-price="@bItem.Product.Price" asp-route-returnAction="@Context.Request.Path.Value" class="delete basketRemoveBtn snipcss0-3-6-7" onclick="delete_from_cart(20500);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11.583" height="11.583"
                                         viewBox="0 0 11.583 11.583" class="snipcss0-4-7-8">
                                        <g transform="translate(-7.783 -7.783)" class="snipcss0-5-8-9">
                                            <path d="M9.2,17.952,17.952,9.2" transform="translate(0 0)">
                                            </path>
                                            <path d="M9.2,9.2l8.755,8.755" transform="translate(0 0)">
                                            </path>
                                        </g>
                                    </svg>
                                </a>
                                <a href="tr/urun/rampage-v902-ps3-ps4-pc-xboxone-xbox360-switch-3-pedalli-el-vitesli-gaming-oyuncu-direksiyonu"
                                   class="snipcss0-3-6-10">
                                    <img src="@bItem.Product.BaseImagePath"
                                         alt="Rampage V902 PS3/PS4/PC/XBOXONE/XBOX360 /SWITCH 3 Pedallı -El Vitesli Gaming Oyuncu Direksiyonu"
                                         class="snipcss0-4-10-11">
                                </a>
                                <div class="num snipcss0-3-6-12">
                                    @bItem.Product.Id
                                </div>
                                <a href="tr/urun/rampage-v902-ps3-ps4-pc-xboxone-xbox360-switch-3-pedalli-el-vitesli-gaming-oyuncu-direksiyonu"
                                   class="p-name snipcss0-3-6-13">
                                    @bItem.Product.Name
                                </a>
                                <div class="qty snipcss0-3-6-14">
                                    <a asp-action="AddToBasket" asp-controller="Shop" asp-route-id="@bItem.Product.Id" data-price="@bItem.Product.Price" asp-route-returnAction="@Context.Request.Path.Value" class="qty-plus BasketBtnPlus snipcss0-4-14-15">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9.156" height="16.953"
                                             viewBox="0 0 9.156 16.953" class="snipcss0-5-15-16">
                                            <path d="M126.7,8.011,118.864.192a.657.657,0,0,0-.928.931l7.375,7.354-7.375,7.354a.657.657,0,0,0,.928.93L126.7,8.942a.657.657,0,0,0,0-.93Z"
                                                  transform="translate(-117.742 0)" fill="#fff">
                                            </path>
                                        </svg>
                                    </a>
                                    <div class="piece snipcss0-4-14-17">
                                        <input type="number" step="1" name="adet" value="@bItem.Count" data-update-qty="20500" min="1" max="@bItem.Product.Count"
                                               class="snipcss0-5-17-18 basketCountInput">
                                        <span class="snipcss0-5-17-19">
                                            Adet
                                        </span>
                                    </div>
                                    <a asp-action="Decrease" asp-controller="Shop" asp-route-id="@bItem.Product.Id" data-price="@bItem.Product.Price" asp-route-returnAction="@Context.Request.Path.Value" class="qty-minus BasketBtnMinus snipcss0-4-14-20">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9.156" height="16.953"
                                             viewBox="0 0 9.156 16.953" class="snipcss0-5-20-21">
                                            <path d="M8.963,8.942l-7.841,7.82a.657.657,0,0,1-.928-.931L7.568,8.477.193,1.122a.657.657,0,0,1,.928-.93L8.963,8.011a.657.657,0,0,1,0,.93Z"
                                                  transform="translate(0)" fill="#fff">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="price snipcss0-3-6-22">
                                    <p class="snipcss0-4-22-23">
                                        @bItem.Product.Price TL
                                    </p>
                                </div>
                            </div>
                        }



                    </div>
                    <div class="basket-bottom ">
                        <p class="basketTotalPriceArea" data-price="@totalPrice">
                            <b class="">
                                Toplam:
                            </b>
                            @totalPrice TL
                        </p>
                        <a asp-action="Index" asp-controller="Basket" class="odeme-yap">
                            Ödeme Yap
                            <svg xmlns="http://www.w3.org/2000/svg" width="28.615" height="16.436"
                                 viewBox="0 0 28.615 16.436" class="snipcss0-3-63-64">
                                <g transform="translate(0.75 1.056)" class="snipcss0-4-64-65">
                                    <path d="M0,0,8.719,7.163,0,14.325" transform="translate(18.396)">
                                    </path>
                                    <path d="M0,0H26.993" transform="translate(0 7.163)">
                                    </path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <script>

            const totalPriceArea = document.querySelector('.basketTotalPriceArea')

            const increaseButtons = document.querySelectorAll('.BasketBtnPlus');
            increaseButtons.forEach(btn => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();

                    fetch(btn.href).then(res => {
                        if(res.ok){

                            var total = parseFloat(totalPriceArea.dataset.price.replace(',', '.'))

                            total += parseFloat(btn.dataset.price.replace(',', '.'));


                            totalPriceArea.innerHTML = `<b class="">Toplam:</b>${total} TL`

                            totalPriceArea.dataset.price = total;
                        }
                    })


                })
            })

            const decreaseButtons=document.querySelectorAll('.BasketBtnMinus')
            decreaseButtons.forEach(btn => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();

                    fetch(btn.href).then(res => {
                        if (res.ok) {

                            var total = parseFloat(totalPriceArea.dataset.price.replace(',', '.'))

                            total -= parseFloat(btn.dataset.price.replace(',', '.'));


                            totalPriceArea.innerHTML = `<b class="">Toplam:</b>${total} TL`;
                            totalPriceArea.dataset.price = total;

                        }
                    })


                })
            })


            const basketItemInputs = document.querySelectorAll('.basketCountInput')
            const basketRemoveBtns = document.querySelectorAll('.basketRemoveBtn')

            basketRemoveBtns.forEach((btn,i) => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();

                    fetch(btn.href).then(res => {
                        if (res.ok) {

                            var total = parseFloat(totalPriceArea.dataset.price.replace(',', '.'))

                            total -= (parseFloat(btn.dataset.price.replace(',', '.')) * parseInt(basketItemInputs[i].value))


                            totalPriceArea.innerHTML = `<b class="">Toplam:</b>${total} TL`;
                            totalPriceArea.dataset.price = total;


                            btn.parentElement.remove()
                        }
                    })

                })
            })

        </script>
        <div class="shop-item-container">
            <div class="all-boxes-item">
                <ul>
                    @for (int i = 0; i <= 3 && i < categories.Count; i++)
                    {
                        var category = categories[i];
                        <li>
                            <a asp-controller="Shop" asp-route-categoryId="@category.Id" asp-action="Index">
                                <img src="@category.ImagePath" alt="@category.Name">
                                <span>@category.Name</span>
                            </a>
                        </li>

                    }


                </ul>
                <ul>
                    @for (int i = 4; i <= 7 && i < categories.Count; i++)
                    {
                        var category = categories[i];
                        <li>
                            <a asp-controller="Shop" asp-route-categoryId="@category.Id" asp-action="Index">
                                <img src="@category.ImagePath" alt="@category.Name">
                                <span>@category.Name</span>
                            </a>
                        </li>

                    }
                </ul>
                <ul>
                    @for (int i = 8; i <= 11 && i < categories.Count; i++)
                    {
                        var category = categories[i];
                        <li>
                            <a asp-controller="Shop" asp-route-categoryId="@category.Id" asp-action="Index">
                                <img src="@category.ImagePath" alt="@category.Name">
                                <span>@category.Name</span>
                            </a>
                        </li>

                    }
                </ul>
            </div>
        </div>
        <div class="shop-item-search-container">
            <div class="search-close-icon">
                <i class="fa-solid fa-x"></i>
            </div>
            <form action="#" id="form">
                <p>Size Nasıl Yardımcı Olabiliriz?</p>
                <input type="text" placeholder="Ürün veya Kod Ara" class="form_input searchInput">
            </form>
            <div class="search-product-list-all">
                <div class="search-product-list">
                </div>
            </div>
        </div>

        <script>
            const searchInput = document.querySelector('.searchInput');
            const searchProductList = document.querySelector('.search-product-list')
            searchInput.addEventListener('input', () => {
                const searchValue = searchInput.value;
                const url = `https://localhost:44356/home/search?search=${searchValue}`;

                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        searchProductList.innerHTML = ""
                        data.forEach((x) => {
                            searchProductList.innerHTML += `  <a href="#" class="search-product-item">
                                                                                                                  <div class="search-left">
                                                                                                                                  <p class="search-barcod">${x.barcode}</p>
                                                                                                                      <p class="search-product-name">
                                                                                                                         ${x.name}
                                                                                                                      </p>
                                                                                                                      <div class="search-price">
                                                                                                                      </div>
                                                                                                                  </div>
                                                                                                                  <div class="search-product-image">
                                                                                                                      <img src="${x.baseImagePath}" alt="">
                                                                                                                  </div>
                                                                                                              </a>
                                                                                                                                `
                        })
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                    });
            });
        </script>

    </header>
    <!-- Header Sections End -->
    @RenderBody()

    <!-- Footer Start -->
    <footer>
        <div class="footer-all">
            <div class="footer-top">
                <div class="footer-logo">
                    <img src="~/assets/image/rampage-logo (1).svg" alt="Rampage logo">
                </div>
                <div class="footer-email">
                    <a href="">@settings["footerEmail"]</a>
                </div>
                <form asp-action="Subscribe" asp-controller="Home" asp-route-returnAction="@Context.Request.Path.Value" class="footer-send-email">
                    <div class="buttons">
                        <span>Katıl</span>
                        <span>Ayrıl</span>
                    </div>
                    <div class="input-box">
                        <input type="text" style="color:white" name="email" placeholder="E-posta Adresiniz">
                    </div>
                    <div class="send-email">
                        <button type="submit">Gönder</button>
                    </div>
                </form>
            </div>
            <div class="footer-mid">
                <div class="links">
                    <a asp-action="Index" asp-controller="About">Hakkımızda </a>
                    <a href="https://www.desteksegment.com/">Destek </a>
                    <a asp-action="Index" asp-controller="Contact">İletişim </a>
                    <a asp-action="Index" asp-controller="Blog">Bloglar</a>
                </div>
                <div class="social-icons">
                    <a href="@settings["footerFacebook"]">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="@settings["footerTwitter"]">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="@settings["footerLinkedIn"]">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="@settings["footerInstagram"]">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="@settings["footerYoutube"]">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="policys">
                    <a href="#">Gizlilik ve Çerez Politikası</a>
                    <a href="#">KVKK ve Aydınlatma Metni</a>
                </div>
            </div>
            <div class="footer-bottom">
                <span>© 2024 RAMPAGE</span>
                <p>TR/GLOBAL</p>
                <p>Web Tasarim By Vusaal</p>
            </div>
        </div>
    </footer>
    <!-- Footer Start -->

</body>

</html>