@model List<BasketItem>
@{
    decimal total = 0;
}

<main>
    <section class="shopping-basket-image">
        <div class="basket-nav">
            <div class="step active mobile-active bar">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-shopping-basket" title="Alışveriş Sepeti">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#" id="shopping">
                        Alışveriş Sepeti
                    </a>
                </div>
            </div>
            <div class="step " id="delivery-Information">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-shipping-fast" title="Teslimat Bilgileri">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#">
                        Teslimat Bilgileri
                    </a>
                </div>
            </div>
            <div class="step " id="payment-Information">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-credit-card" title="Ödeme Bilgileri">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#">
                        Ödeme Bilgileri
                    </a>
                </div>
            </div>
            <div class="step">
                <div class="stepIcon">
                    <a href="javascript:;">
                        <i class="far fa-check-circle" title="Sipariş Sonu">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="javascript:;">
                        Sipariş Sonu
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="sepet-all">
        <div class="sepet-left-right">
            <div class="sepet-left">
                <h4>ÜRÜNLERİM</h4>
                @foreach (var bItem in Model)
                {
                    total += (@bItem.Product.Price * bItem.Count);
                    <div class="sepet-info">
                        <div class="sepet-img">
                            <a href="#">
                                <img src="@bItem.Product.BaseImagePath" alt="Sepet Klavye">
                            </a>
                        </div>
                        <div class="sepet-name">
                            <a href="#">
                                <span>
                                    @bItem.Product.Name
                                </span>
                            </a>
                        </div>
                        <div class="sepet-count">
                            <div class="piece">
                                <div class="product-qty">
                                    <a asp-action="Decrease" asp-controller="Shop" asp-route-id="@bItem.Product.Id" asp-route-returnAction="@Context.Request.Path.Value" data-price="@bItem.Product.Price" class="qty-minus BasketBtnMinus2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                             viewBox="0 0 9.156 16.953">
                                            <path d="M8.963,8.942l-7.841,7.82a.657.657,0,0,1-.928-.931L7.568,8.477.193,1.122a.657.657,0,0,1,.928-.93L8.963,8.011a.657.657,0,0,1,0,.93Z"
                                                  transform="translate(0)" fill="#fff"></path>
                                        </svg>
                                    </a>
                                    <div class="piece-count">
                                        <input class="basketCountInput2" type="number" step="1" name="adet" value="@bItem.Count" min="1" max="@bItem.Product.Count">
                                    </div>
                                    <a asp-action="AddToBasket" asp-controller="Shop" asp-route-id="@bItem.Product.Id" asp-route-returnAction="@Context.Request.Path.Value" data-price="@bItem.Product.Price" class="qty-plus BasketBtnPlus2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                             viewBox="0 0 9.156 16.953">
                                            <path d="M126.7,8.011,118.864.192a.657.657,0,0,0-.928.931l7.375,7.354-7.375,7.354a.657.657,0,0,0,.928.93L126.7,8.942a.657.657,0,0,0,0-.93Z"
                                                  transform="translate(-117.742 0)" fill="#fff"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sepet-single-total">
                            <div class="sepet-single">
                                <h6>Fiyat</h6>
                                <p>@bItem.Product.Price <i class="fa-solid fa-turkish-lira-sign"></i></p>
                            </div>
                            <div class="sepet-sub-total">
                                <h6>Toplam</h6>
                                <p>@(bItem.Product.Price * bItem.Count) <i class="fa-solid fa-turkish-lira-sign"></i></p>
                            </div>
                        </div>
                        <div class="sepet-delete">
                            <a class="basketRemoveBtn2" asp-action="RemoveBasketItem" asp-controller="Shop" asp-route-id="@bItem.Id" asp-route-returnAction="@Context.Request.Path.Value"><i class="fas fa-trash"></i> SİL </a>
                        </div>
                    </div>
                }
                <p class="products_desc">
                    Sepetinizdek ürünlerin toplam kargo tutarı 0₺'dir. Tahmini kargo süresi 2
                    iş günüdür. 500₺ üzeri kargo bedava!
                </p>
                <div class="sepet-btn">
                    <div class="sepet-btn-left">
                        <a asp-action="Index" asp-controller="Shop">
                            <i class="fa-solid fa-arrow-left"></i>
                            Alışverişe Devam Et
                        </a>
                    </div>
                    <div class="sepet-btn-right">
                        <a asp-action="ClearBasket" asp-controller="Shop">
                            <i class="fa-solid fa-trash"></i>
                            Sepeti Temmizle
                        </a>
                    </div>
                </div>
            </div>
            <div class="sepet-right">
                <div class="ozetTitle">
                    <h4>SİPARİŞ ÖZETİ</h4>
                </div>
                <div class="ozetDetay">
                    <div>
                        <span>ARA TOPLAM</span>
                        <p class="basketTotalPriceArea2" data-price="@total">@total <i class="fa-solid fa-turkish-lira-sign"></i></p>
                    </div>
                </div>
                <div class="couppon">
                    <a asp-action="Order">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Satın Al</span>
                    </a>
                </div>
            </div>
        </div>




        <script>

            const totalPriceArea2 = document.querySelector('.basketTotalPriceArea2')
            const basketItemInputs2 = document.querySelectorAll('.basketCountInput2')


            const increaseButtons2 = document.querySelectorAll('.BasketBtnPlus2');
            increaseButtons2.forEach((btn,i) => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();

                    fetch(btn.href).then(res => {
                        if (res.ok) {

                            var total = parseFloat(totalPriceArea2.dataset.price.replace(',', '.'))

                            total += parseFloat(btn.dataset.price.replace(',', '.'));


                            totalPriceArea2.innerHTML = `${total} <i class="fa-solid fa-turkish-lira-sign"></i>`

                            totalPriceArea2.dataset.price = total;
                            basketItemInputs2[i].value++
                        }
                    })


                })
            })

            console.log(increaseButtons);

            const decreaseButtons2 = document.querySelectorAll('.BasketBtnMinus2')
            decreaseButtons2.forEach((btn,i) => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();

                    fetch(btn.href).then(res => {
                        if (res.ok) {

                            var total = parseFloat(totalPriceArea2.dataset.price.replace(',', '.'))

                            total -= parseFloat(btn.dataset.price.replace(',', '.'));


                            totalPriceArea2.innerHTML = `${total} <i class="fa-solid fa-turkish-lira-sign"></i>`
                            totalPriceArea2.dataset.price = total;
                            basketItemInputs2[i].value--


                        }
                    })


                })
            })


            const basketRemoveBtns2 = document.querySelectorAll('.basketRemoveBtn2')

            basketRemoveBtns2.forEach((btn, i) => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();

                    fetch(btn.href).then(res => {
                        if (res.ok) {

                            var total = parseFloat(totalPriceArea2.dataset.price.replace(',', '.'))

                            total -= (parseFloat(btn.dataset.price) * parseInt(basketItemInputs2[i].value))


                            totalPriceArea2.innerHTML = `${total} <i class="fa-solid fa-turkish-lira-sign"></i>`
                            totalPriceArea2.dataset.price = total;


                            btn.parentElement.parentElement.remove()
                        }
                    })

                })
            })

        </script>
    </section>
</main>





<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/assets/js/basketsepet.js"></script>

