@model List<Slider>
@{
    int Count = 1;
}
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">

    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Sliderler</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Resim</th>
                            <th scope="col">Adı</th>
                            <th scope="col">Eylemler</th>
                            <th scope="col"><a asp-action="Create" class="btn btn-success">Ekle</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Slider slider in Model)
                        {
                            <tr>
                                <th scope="row">@(Count++)</th>
                                <td> <img style="width:50px;height:50px;border-radius:100%" src="@slider.ImagePath" />  </td>
                                <td>@slider.Name</td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@slider.Id" class="btn btn-warning">Değiştir</a>
                                    <a asp-action="Delete" asp-route-id="@slider.Id" class="btn btn-danger">Sil</a>




                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>
<!-- Table End -->
<!-- Content End -->