@model Product
<main>
    <section class="shop-detail-area">
        <div class="img-container">
            <div class="big-image">
                <img src="@Model.BaseImagePath" alt="" />
            </div>
            <div class="swiper detailslider">
                <div class="swiper-wrapper">
                    @foreach (var img in Model.ProductImages)
                    {
                        <div class="swiper-slide">
                            <div class="small-img-item">
                                <img src="@img.ImagePath" alt="" />
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="product-detail-text-all">
            <div class="product-detail-text">
                <div class="detail-top">
                    <div class="cat-map">
                        <a href="#">
                            <img style="width:55px;height:55px" id="Layer_1" data-name="Layer 1" src="@Model.Category.ParentCategory.ImagePath" />

                            <p> @Model.Category.ParentCategory?.Name </p>
                        </a>
                        <a href="#">
                            <span>@Model.Category.Name</span>
                        </a>
                    </div>
                    <div class="product-name">
                        <div class="brand">
                            <img src="~/assets/image/rampage-white.svg" alt="">
                        </div>
                        <span>@Model.Name</span>
                    </div>
                </div>
                <div class="detail-mid">
                    <div class="mid-item">
                        <span>Değerlendirme</span>
                        <div class="total-stars">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <span>4</span>
                        </div>
                        <span class="comment-count">3</span>
                    </div>
                    <div class="mid-item2">
                        <span>Ürün Kodu</span>
                        <p>@Model.Id</p>
                    </div>
                    <div class="mid-item3">
                        <span>Barkod</span>
                        <p>@Model.Barcode</p>
                    </div>
                </div>
                <div class="detail-price">
                    <span>@Model.Price TL</span>
                </div>
                <div class="piece">
                    <div class="product-qty">
                        <div class="qty-minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                 viewBox="0 0 9.156 16.953">
                                <path d="M8.963,8.942l-7.841,7.82a.657.657,0,0,1-.928-.931L7.568,8.477.193,1.122a.657.657,0,0,1,.928-.93L8.963,8.011a.657.657,0,0,1,0,.93Z"
                                      transform="translate(0)" fill="#fff"></path>
                            </svg>
                        </div>
                        <div class="piece-count">
                            <input type="number" step="1" name="adet" value="1" min="1" max="7">
                        </div>
                        <div class="qty-plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                 viewBox="0 0 9.156 16.953">
                                <path d="M126.7,8.011,118.864.192a.657.657,0,0,0-.928.931l7.375,7.354-7.375,7.354a.657.657,0,0,0,.928.93L126.7,8.942a.657.657,0,0,0,0-.93Z"
                                      transform="translate(-117.742 0)" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="add-product">
                        <a href="#">Sepete Ekle</a>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tab-links">
        <div class="tap-items-links">
            <div class="tab-item1">Genel Bakış</div>
            <div class="tab-item2">Teknik Özellikler</div>
            <div class="tab-item3">Yorumlar</div>
        </div>
        <div class="tabs-contents">
            <div class="tab-content1">
                <img src="@Model.BGImagePath" alt="Rampage Image">
            </div>
            <div class="tab-content2">
                <ul>
                    @foreach (var info in Model.ProductInfos)
                    {
                        <li>
                            <p>@info.Key</p>
                            <span>@info.Value</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="tab-content3">
                <div class="comment-left-right">
                    <div class="comment-left">
                        <span>Ürünü Değerlendirin</span>
                        <div class="comment-stars">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                        </div>
                        <textarea name="comment" cols="30" rows="10" placeholder="Yorumunuz"></textarea>
                        <button type="submit">Paylaş</button>
                    </div>
                    <div class="comment-right">
                        <div class="user-comments-stars">
                            <div class="user-total-stars">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <span>4</span>
                            </div>
                            <span class="user-comment-count">3</span>
                        </div>
                        <span>Ürün Genel Değerlendirmesi</span>
                        <p>Bu ürün için <strong>3</strong> yorum bulundu.</p>
                        <div class="comment-sections">
                            <div class="comment-item">
                                <div class="user-name">OK</div>
                                <div class="comment-exp">
                                    <div class="top">
                                        <span class="name">osman kalender </span>
                                        <span class="date">01/11/2023 </span>
                                    </div>
                                    <div class="mid">
                                        <p>sipariş verdim bakalım marka güvenilir tavsiye ederim</p>
                                    </div>
                                    <div class="bottom-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="user-name">OK</div>
                                <div class="comment-exp">
                                    <div class="top">
                                        <span class="name">Bünyamin Çoban </span>
                                        <span class="date">06/11/2023 </span>
                                    </div>
                                    <div class="mid">
                                        <p>sipariş verdim bakalım marka güvenilir tavsiye ederim</p>
                                    </div>
                                    <div class="bottom-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="user-name">OK</div>
                                <div class="comment-exp">
                                    <div class="top">
                                        <span class="name">osman kalender </span>
                                        <span class="date">01/11/2023 </span>
                                    </div>
                                    <div class="mid">
                                        <p>sipariş verdim bakalım marka güvenilir tavsiye ederim</p>
                                    </div>
                                    <div class="bottom-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="power-slider">
        <div class="power-slider-header">
            <div class="power-slider-title">
                <span>SENİN İÇİN</span>
                <h2>Güç, Güvenlik ve Performans.</h2>
            </div>
        </div>
        <div class="power-slider-boxs1">
            <div class="power-slider-box1">
                <img src="~/assets/image/for-youMouse.jpg" alt="Mouse">
            </div>
            <div class="power-slider-box2">
                <div class="swiper foryou">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>Rampage STYLES Siyah USB 7.1 Version RGB Oyuncu Mikrofonlu Kulaklık</span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/productkulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>469,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage KB-R211 PRIME Rainbow Aydınlatmalı Kristal Blue Switch Mekanik
                                        Gaming Oyuncu Klavyesi
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/klavye.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>2.349,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage DRIVE RS+ PS4 / PC / XBOX ONE / Xbox Series S / X Yaylı 3 Pedal
                                        -El Vitesi Gaming Oyun Direksiyonu
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/userdireksiyon.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>11.399,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage V900-S PS3 / PS4 / PC / XBOXONE / XBOX360 SWITCH 6 in 1 Pedallı
                                        Gaming Oyuncu Direksiyonu
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/direksiyon2.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>5.199,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage RM-K50 SELECT Siyah Usb 7.1 RGB Ledli Gaming Oyuncu Mikrofonlu
                                        Kulaklık
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/kulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>599,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/assets/js/shopdetail.js"></script>r

