@model ShopVM
@{
    int? colorId = ViewBag.ColorId;
    int? categoryId = ViewBag.CategoryId;
}

<main>
    @{
        if (Model.Category is not null)
        {
            <section class="category-bgimage-name">
                <img src="@Model.Category.BGImagePath" alt="">
                <div class="category-name">
                    <img style="width:55px;height:55px" id="Layer_1" data-name="Layer 1" src="@Model.Category.ImagePath" />
                    <span>@Model.Category.Name</span>
                </div>
            </section>
        }
        else
        {
            <section class="category-bgimage-name">
                <img src="~/assets/image/ad1.png" alt="">
            </section>
        }
    }
    <section class="filter-product-all">
        <div class="filter-product">
            <div class="filter-left-all">
                <div class="filter-left">
                    <div class="filter-title">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="30" height="30" xml:space="preserve" version="1.1" viewBox="0 0 50 50">
                        <image width="50" height="50"
                               xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAmpJREFUaEPtmTtoFUEUhr8fwQciFlppJXaSVvCBQpoUohYBrSxS2ATExiKN2KQTCy0stLARFGwUsRCJ4AN8VbYhlVipjYIionhkwiRs4j5mdlaze5mF29x75pz/u2fOnrOzYkQujQgHK0DM7A2wdyBwryXtW9K6GsQGArEoU9Ky/gzSh8zVZeQlsLzv+iC2RsMrSfuramQ78BTY03OIBeCQpA+lIO5LM9sJPAd29RTmvYd4V9RX2kfMbDfwDNjRM5iPwGFJ86t1VTZEMxsDngDbegLzGRiX9LZMT21nNzPXHB8DW9YY5hswIelFlY7GEcXMDgCPgM1rBPMdOCLJ7Y7KqxHE3wAmgPvAhv8M8xOYlPSgKW4QiIeZBO4A65qcdvT7b+CUpNsh/oJBPMwUcMONOSHOE2zczDct6Vqoj2hBZnYWuBIaoKXdjKSLMWujQXxmZoHzMYEibGclXYiwXzRtBeJhLgHnYgM22F+VdKaNzxQQt/Y6cLpN4JI1N4EpSa7Io6/WID4r7g52CzgZHXnlgnvACUm/2vpJAvEw64G7rmm1FDEHHJX0o+X6tBopBjWzTcBDN9BFinHPP270+Bq57i/z5IwseTSzrT4z44Gi3NzkRo8vgfa1Zp2BdCEmxUcGKfv3zCzqOKl4eJCSjaSGmEEK/0DOSMl26LTYc42kVnrK9JuLPRd7/f7LxZ5rJNdIrpH4LjVKnT3q9Xafh0b37D7jPxubctpbkMLzu3vjddmdjtTB9B6kAHTMnxOXvo8cDIg/96rcboMCqdtugwQpAB0H3AH4J0kHm24Iob93OjSGBv0XdiMD8gd9ndIzgoJGTAAAAABJRU5ErkJggg==">
                                </image>
                            </svg>
                        <span>Filtre</span>
                    </div>
                    <div class="filter-scroll">
                        <div class="category-list">
                            <div class="container">
                                <ul>
                                    @{
                                        if (Model.Category is not null || Model.ChildCategory is not null)
                                        {
                                            <li>
                                                <div class="wrapper">
                                                    <button class="toggle">
                                                        <div class="cate-name-icon">
                                                            <img style="width:55px;height:55px" id="Layer_1" data-name="Layer 1" src="@Model.Category.ImagePath" />

                                                            <span>@(Model.Category != null ? Model.Category.Name : Model.ChildCategory?.ParentCategory?.Name)</span>
                                                        </div>
                                                        <i class="fa-solid fa-plus icon"></i>
                                                    </button>
                                                    <div class="content">
                                                        <ul>
                                                            @{
                                                                if (Model.Category is not null)
                                                                {

                                                                    <li>
                                                                        @foreach (var category in Model.Category.ChildCategories)
                                                                        {
                                                                            <a asp-action="Index" asp-route-categoryId="@category.Id" asp-route-colorId="@colorId">
                                                                                @category.Name <i class="fa-solid fa-chevron-down"></i>
                                                                            </a>

                                                                        }

                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        @foreach (var category in Model.ChildCategory?.ParentCategory?.ChildCategories)
                                                                        {
                                                                            <a asp-action="Index" asp-route-categoryId="@category.Id" asp-route-colorId="@colorId">
                                                                                @category.Name <i class="fa-solid fa-chevron-down"></i>
                                                                            </a>

                                                                        }

                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                        }

                                    }



                                </ul>

                                @foreach (var category in Model.Categories)
                                {
                                    <ul class="box-category">
                                        <li>
                                            <div class="wrapper">
                                                <button class="toggle">
                                                    <div class="cate-name-icon">
                                                        <img style="width:55px;height:55px" id="Layer_1" data-name="Layer 1" src="@category.ImagePath" />

                                                        <span>@category.Name</span>
                                                    </div>
                                                    <i class="fa-solid fa-plus icon"></i>
                                                </button>
                                                <div class="content">
                                                    <ul>
                                                        @foreach (var child in category.ChildCategories)
                                                        {
                                                            <li>
                                                                <a asp-action="Index" asp-route-categoryId="@child.Id" asp-route-colorId="@colorId">
                                                                    @child.Name  <i class="fa-solid fa-chevron-down"></i>
                                                                </a>

                                                            </li>

                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                }

                            </div>
                            <div class="all-categories">
                                <span>Tüm Kategoriler</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="price-range">
                            <span class="price-title">Fiyat Aralığı</span>
                            <div class="values">
                                <div>$<span id="first"></span></div>
                                <div>$<span id="second"></span></div>
                            </div>
                            <div class="slider" data-value-0="#first" data-value-1="#second" data-range="#third">
                            </div>
                        </div>
                        <div class="product-color">
                            <div class="color-title">
                                <span>Renkler</span>
                            </div>
                            <div class="colors-filter">
                                 <a asp-action="Index" asp-route-colorId="@null" asp-route-categoryId="@categoryId" class="color-filter">
                                        <div class="color-box">
                                            <input type="checkbox">
                                            <span>Hepsi</span>
                                        </div>
                                    </a>
                                @foreach (var color in Model.Colors)
                                {

                                    <a asp-action="Index" asp-route-colorId="@color.Id" asp-route-categoryId="@categoryId" class="color-filter">
                                        <div class="color-box">
                                            <input type="checkbox">
                                            <span>@color.Name</span>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="none-filter-icon">
                <img src="~/assets/image/filterImage.png" alt="">
            </div>
            <div class="product-right-all">
                <div class="product-right">
                    <div class="product-list">
                        @foreach (Product product in Model.Products)
                        {
                            <div class="swiper-slide">
                                <a asp-action="Detail" asp-route-id="@product.Id" class="product-box-swipper">
                                    <div class="product-title">
                                        <span>@product.Name</span>
                                    </div>
                                    <div class="product-image">
                                        <img src="@product.BaseImagePath" alt="">
                                    </div>
                                    <div class="total-rating">
                                        <div class="total-star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <span>5</span>
                                        <p>2</p>
                                    </div>
                                    <div class="product-price">
                                        <span>@product.Price TL</span>
                                    </div>
                                    <div class="product-add-basket" style="display: flex; text-align: center; padding-right: 20px;">
                                        <div style="margin: 0 auto;">
                                            <a asp-action="AddToBasket" asp-route-id="@product.Id" asp-route-returnAction="@Context.Request.Path.Value">Sepete Ekle</a>
                                            <span>+</span>
                                        </div>
                                    </div>




                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="~/assets/js/shop.js"></script>
<!-- <script src="assets/js/main.js"></script> -->
