@model AppUser

@{
    bool active = true;
}
<main>
    <section class="bg-image-user">
    </section>

    <section class="user-screen-menu">
        <a href="#" class="bilgilerim @(active? "active":"")" onclick="toggleActive(true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 13 13">
                <path d="M8.626,6.855A6.51,6.51,0,0,1,13,13H11.984A5.484,5.484,0,0,0,1.016,13H0A6.51,6.51,0,0,1,4.374,6.855a3.758,3.758,0,1,1,4.252,0l-4.868-3.1A2.742,2.742,0,1,0,6.5,1.016,2.745,2.745,0,0,0,3.758,3.758Z"
                      transform="translate(0 0)" fill-rule="evenodd"></path>
            </svg>
            <span>Bilgilerim</span>
        </a>
        <a href="#" class="sifre @(active ? "" : "active")" onclick="toggleActive(false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14.013 14.013">
                <path d="M6.028,4a4.016,4.016,0,1,1,.985,2.622L4.38,9.258l1.825,1.825a.25.25,0,1,1-.354.354L4.026,9.612l-.9.9,1.324,1.324a.25.25,0,1,1-.354.354L2.775,10.863l-.9.9L3.7,13.586a.25.25,0,1,1-.354.354L1.524,12.114.45,13.189A.25.25,0,0,1,.1,12.835L6.7,6.227A3.981,3.981,0,0,1,6.028,4h.5a3.5,3.5,0,1,0,3.5-3.5A3.507,3.507,0,0,0,6.529,4Z"
                      transform="translate(-0.023)" fill-rule="evenodd"></path>
            </svg>
            <span>Parola Değiştir</span>
        </a>
        <a asp-action="Logout" class="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 12.657 14.096">
                <g>
                    <path d="M6.1,13.289H2.536a1.785,1.785,0,0,1-1.753-1.81V2.618A1.785,1.785,0,0,1,2.536.808H6.155A.4.4,0,0,0,6.546.4.4.4,0,0,0,6.155,0H2.536A2.58,2.58,0,0,0,0,2.618v8.861A2.58,2.58,0,0,0,2.536,14.1H6.1a.4.4,0,0,0,0-.808Z"
                          fill-rule="evenodd"></path>
                </g>
                <g transform="translate(2.994 4.078)">
                    <path d="M12.309,6.447,9.823,3.88a.381.381,0,0,0-.553,0,.412.412,0,0,0,0,.571l1.82,1.879H3.152a.4.4,0,0,0,0,.808h7.937L9.269,9.017a.412.412,0,0,0,0,.571.388.388,0,0,0,.275.12.376.376,0,0,0,.275-.12l2.486-2.567A.413.413,0,0,0,12.309,6.447Z"
                          transform="translate(-2.761 -3.761)" fill-rule="evenodd"></path>
                </g>
            </svg>
            <span>Güvenli Çıkış</span>
        </a>
    </section>

    <section class="user-screen-content">
        <div class="user-about-all">
            <div class="form-user-title">
                <span>Kişisel Bilgiler</span>
            </div>
            <div class="user-forms">
                <div class="form-name">
                    <input type="text" value="@Model.FullName.Split()[0]" placeholder="İsim">
                </div>
                <div class="form-name">
                    <input type="text" value="@Model.FullName.Split()[1]" placeholder="Soyisim">
                </div>
                <div class="user-phone">
                    <input type="email" value="@Model.Email" placeholder="E-posta">
                </div>
            </div>
        </div>
    </section>

    <section class="user-screen-content-password">
        <form asp-action="ChangePassword" method="post" class="user-about-all-password">
            <div class="form-user-title-password">
                <span>Parola Değiştir</span>
            </div>
            <div class="user-password">
                <div class="form-name">
                    <input type="password" name="oldPassword" placeholder="Mevcut Şifre">
                </div>
                <div class="form-name">
                    <input type="password" name="newPassword" placeholder="Yeni Şifre">
                </div>
                <div class="user-phone">
                    <button style="border:none;outline:none;padding:10px 15px;color:white;background-color:red;cursor:pointer;border-radius:10px" type="submit">Kaydet</button>
                </div>
            </div>
        </form>
    </section>

    <section class="close-user-all">
        <div class="close-user">
            <div class="close-user-text">
                <p>Oturumunuzu sonlandırmak istediğinizden emin misiniz?</p>
                <button>Evet</button>
                <button>Hayır</button>
            </div>
        </div>
    </section>

</main>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/assets/js/userpage.js"></script>


<script>
    function toggleActive(value) {
        active = value;
        document.querySelector('.bilgilerim').classList.toggle('active', value);
        document.querySelector('.sifre').classList.toggle('active', !value);
    }
</script>
